<html>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'banitsa/style.css' %}">
    <body>
    <center>
    <h1>Здравей! Искаш ли баница? </h1>
    {% block content %}
        {% if final %}
            <p>О не! Свърши баницата!<br>Oh no! You are out of banitsa!</p>
            <form action="{% url 'pick' %}" method="post">
            {% csrf_token %}
                <input type="submit" value="Reset" name="reset">
            </form>
        {% else %}
            <p></p><img src="{% static "banitsa/images/banitsa.jpg" %}"/><p></p>
            <form action="{% url 'pick' %}" method="post">
            {% csrf_token %}
                Име [Name]: <input type="text" name="person" value="" maxlength="40">
                <input type="submit" value="Избери парче!">
            </form>
            {% if latest %}
                <p><table bgcolor="#90ee90"><tr><td>{{  latest|linebreaks }}</td></tr></table></p>
            {% endif %}
        {% endif %}
        <hr>
        </center>
        <h3>Намерени ({{ count }} от {{ total }})</h3>

        <ul>
        {% for fortune in already_picked_list %}
            <li>{{ fortune }}</li>
        {% endfor %}
        </ul>
        <div style="height: 450px;">&nbsp;</div>
        <form action="{% url 'pick' %}" method="post">
            {% csrf_token %}
                <input type="submit" value="Reset" name="reset">
            </form>
    {% endblock %}
    </body>
</html>
